[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
constructs = "==10.0.5"
dreamchaser = {path = "."}
jenkins = {path = "."}

[dev-packages]

[requires]
python_version = "3.9"
